.lol{
    position: absolute;
    font-size: 100px;
    transform: scale(0);
    z-index: 8;
    padding-left: 200px;
    padding-top: 100px;
    animation: mylol 1.5s linear ;}

@keyframes mylol {
    
    from {
        transform: scale(1);
        color: blue;
    }
    50%{
        transform: scale(2);
        color: green;
    }
    100%{
        transform: scale(4);
        color: red;
    }

}
